body{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	color: #FF0000;
	max-width: 400px;
	margin: auto;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	overflow: hidden;

}
h1{
	font-weight: 200;
}

h2{
	font-weight: 200;
}

#logo{
	width: 100%;

}

.social_icons{
	border:1px solid red;
	list-style-type: none;
	width: 100%;
	overflow: hidden;
	max-width: 400px;
}

.social_icons li{
		display: inline;
}
.social_icons img {
	width: 18%;
	border:1px solid blue;
	float: left;

}


.header_about_links{
	width: 100%;
}

.header_about_links a {
	width: 49%;
	margin-right: auto;
	margin-left: auto;
	float: left;
	text-align: center;
	font-size: 2em;
}

#about_us_link{
	border-right: 1px solid #80868e;
}


a:visited{
	color: #FF0000;
}


.filter_nav{
	font-size: 2em;
	/*get rid of this mac width later - i don't think it should be here*/
	width: 400px;
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
	position: fixed;
	top: 95%;
	background-color: #FF0000;
}

.filter_nav a {
	width: 20%;
	float: left;
	text-align: center;
	margin-top: .1em;
}

.filter_nav a img{
	width: 70%;
}
