* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

	body{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: #80868e;
	margin-left: auto;
	margin-right: auto;
}

.content {
	margin-bottom:30%;
}

#newsletter_desktop{
	display: none;
}

/*===============
	header
=================*/


#logo{
	width: 100%;

}
.social_icons{
	margin: auto;
	width: 100%;
}

.social_icons ul {
	padding:0;
	width:75%;
	margin:auto;
	overflow: hidden;
}
.social_icons li {
	list-style-type: none;
	display:inline-block;
	width:19%;

}

.social_icons img {
	width:100%;
}

.header_about_links {
	text-align: center;
}

.header_about_links h3{
	padding:0.1em 0;
	font-size:1.4em;
}




/*#about_us_link{
	border-right: 1px solid #80868e;
}*/

a, h1{
	color: #FF3600;
	text-decoration: none;
}
a:visited{
	color: #FF3600;
}

#search_box_desktop{
	display: none;
}

/*================
Bottom navigation
=================*/

.filter_wrapper_desktop{
	display: none;
}

.filter_wrapper {
	position: fixed;
	bottom: 0;
	z-index: 10;
	width: 100%;

}

.filter_nav {
	background-color: #FF3600;
}

.filter_nav ul {
	width:265px;
	margin:auto;
	padding:0;

}

.filter_nav li {
	list-style-type: none;
	display:inline-block;
	width:50px;
}


/*========
Search Box
==========*/

#search_box{
	display:none;
}

#search_box {
	width: 90%;
	margin:auto;
}

#search_box form input{
	width:100%;
	height: 3em;
	margin-bottom:.5em;
	color: #ff3600;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: .8em;

}

#search_box button {
	background-color: #FF3600;
}

#newsletter_mobile{
	padding: .4em 1em;
}

/*===============
	posts
=================*/

#all_posts {

	width:100%;
	margin:auto;
}

.individual_post{
	border-top:1px solid #80868e;
	padding:0.4em 1em;
}

.individual_post:last-child{
	border-bottom:1px solid #80868e;
}

.sign_up {
	width:100%;
	margin:auto;
	margin-bottom:1em;
	padding:0.3em;

}

.sign_up a{

	color:white;
	width:100%;
	background-color: #7ed3f7;
	padding: .4em;

}


h1, h2, h3 {
	font-weight: 200;
	margin: 0.3em 0;
}

p {
	font-weight:400;
}



h3{
	color:#80868e;
	font-size:1.2em;
}

h2{
	color:#80868e;
	font-weight: 400;
}

p.header {
	color:#80868e;
}

/*===============
	people page
=================*/

.person_wrapper {
	position:relative;
	width:100%;

}

.person_wrapper img {
	width:100%;

}

.person_text {
	position:absolute;
	top:0;
	left:4%;
	width:35%;
}

.person_wrapper h1 {
	font-size: 1.5em;
}

.person_wrapper h2 {
	font-size: 1.2em;
}

.person_wrapper h3 {
	font-size: 0.9em;
}

/*===============
individual speaker
=================*/

#singlespeaker img {
	width:100%;
}

.speaker_wrapper {
	padding:0 1em;
}

.contact_details {
	border-top:1px solid #80868e;
	border-bottom:1px solid #80868e;
	overflow:hidden;
	padding:0 1em;

	}

.contact_details p {
	float:left;
}

.contact_details ul {
	list-style-type: none;
	float:right;
}

/*================
IFRAME VIDEO PLAYER
==================*/

iframe{
	margin-left: auto;
	margin-right: auto;
	display: block;

}

/*=========
	sign up & search general styles
	===========*/
	form input {
		width:100%;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 200;
		color: #ff3600;
		font-size: 1.3em;
	}

/*================
DESKTOP BREAKPOINT
================*/

@media only screen and (min-width: 700px) {

	body{
		margin-top: 0;

  		background: url("img/background/background_1.jpg") no-repeat center center fixed;
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
 		 -o-background-size: cover;
  		background-size: cover;



	}

	/*=====================
	header off to the right
	======================*/
	header{
		float: left;
		height: 100%;
		width: 25%;
		position: fixed;
		background-color: #FFF;
		min-width: 280px;
		max-width: 280px;
	}

	.header_about_links div {
		width: 49%;
		float: left;
	}

	.social_icons ul {
		margin:auto;
		width: 74%;
	}

	.social_icons li {
		width: 2.4em;
	}

	.social_icons li a{
		width: 2.4em;
	}

	/*=========================
	all the CONTENT & NAVIGATION - off to the left
	===========================*/
	.content {
		width: 40%;
		min-width:350px;
		float:right;
		margin-bottom: 0;
		margin-right: 5em;
	}

	#all_posts,  #singlespeaker{
		margin-top: 4em;
	}


	.individual_post, .person_wrapper{
		background-color: #FFF;
		margin-bottom:  1em;
		border: none;
	}


	/*==================
	NAVIGATION - specifics
	====================*/
	#newsletter_desktop{
		display: block;
		width: 80%;
		margin: auto;
		font-size: .8em;
		margin-top: .5em;

	}

	.filter_wrapper{
		display: none;
	}  /*hides the mobile nav*/

	#newsletter_mobile{
		display: none;
	}

	div.filter_wrapper_desktop{
		display: block;
		background-color: #FF3600;
		margin-bottom:1em;
		position: fixed;
		right:0;
		width:40%;
		min-width:350px;
		margin-right: 5em;
		margin-top: .6em;
	}  /*brings in the desktop version*/

	.filter_wrapper_desktop ul{
		list-style-type: none;
		padding:0.4em 0;
		font-weight:200;
		margin: 0;
		width:100%;

	}

	.filter_wrapper_desktop ul li{
		display: inline-block;
		width:24%;
		font-size: 1.2em;
		text-align: center;
	}

	.filter_nav_desktop {
		width:90%;
		margin:auto;
	}

	.filter_nav_desktop a {
		color:white;
	}


	#search_box{
		display: none;
	}

	#search_box_desktop{
		display: block;
		width:80%;
		margin:auto;
		font-size: .8em;
	}



	/*=============
	INDIVIDUAL SPEAKER PAGE
	======================*/


	#singlespeaker{
		background-color: #FFF;
		padding-bottom:3em;
	}

	.contact_details p{
		margin-left: .5em;
	}

	.contact_details ul{
		margin-right: .5em;
	}

	/*================
	IFRAME VIDEO PLAYER
	==================*/

	iframe{
		margin-left: auto;
		margin-right: auto;
		display: block;

	}



}
